/*Header*/
header {
    position: relative;
    max-width:1200px;
    margin: 0 auto;
    height: 315px;
    z-index: 10;
}

.page_header-logo {
    background: url(/assets/img/logo.png) no-repeat;
    display: block;
    height: 100px;
    width: 256px;
    position: absolute;
    top: 0;
    z-index: 20;
    text-indent: -9999px;
}

/*nav--PC*/
.header_nav {
    position: relative;
    width: 100%;
    z-index:20;
}

.header_nav-list, .header_nav-listSm {
    width: 100%;
    display: block;
    position: absolute;
}

.list_item-row {
    float: left;
    position: relative;
}

.header_nav-item {
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 72px;
    height: 72px;
    padding: 0 15px;
}

.header_nav-item.active {
    background-image: linear-gradient(rgba(124, 22, 4, 0), rgb(64, 11, 1));
}

#pay_show-list:hover .pay_list {
    display: block;
}

#log_show-list:hover .log_list {
    display: block;
}

.list-item-right {
    float: right;
}

.pay_list, .log_list {
    display: none;
    margin-top: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    position: absolute;
    top: -8px;
    min-width: 260px;
    height: auto;
    background-color: rgba(9, 27, 41, 0.9);
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pay_list-item {
    display: block;
    color: #fff;
    border-top: 1px silver solid;
    padding-left: 10px;
    padding-right: 0;
    margin-left: 0 !important;
    margin-left: 19px;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
    background: 0;
    height: auto;
}

.log_list-item {
    display: block;
    color: #fff;
    border-top: 1px silver solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0 !important;
    margin-left: 19px;
    text-align: center;
    line-height: 30px;
    font-size: 1.4rem;
    background: 0;
    height: auto;
}

ul > li:first-child a {
    border-top: 0;
}

/*Nav--Sm*/
#header_nav-sm{
    background-color: black;
}

.show_nav-menu {
    width: 72px;
    height: 72px;
    background-color: black;
    color: white;
    border: 0;
}

.show_nav-menu:focus {
    outline: none;
}

.show_off {
    display: none;
}

.bongmo {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 5000px;
    background-color: rgba(159, 194, 210, 0.3);
}


.sdt_shop {
    background-color: rgba(0,0,0,0.8);
}

.icon-phone {
    margin-top: 20px;
    font-size: 60px;
    color: white;
    text-shadow: 8px 4px 4px rgba(155,155,20,0.5);
}

.text_min {
    font-size: 1rem;
    margin-bottom: 0;
    padding-top: 10px;
}

.text-sdt {
    font-size: 2.5rem;
}

.img-slider {
    width:100%;
}




.site {
    height: 500px;
}

.wrapper .mid_test {
    height: 500px;
    width: auto;
}

.hihi {
    height: 300px;
}