@{
    ViewData["Title"] = "Bankking";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<ul class="breadcrumb mt-3">
    <li><a href="/"><localize>Home</localize></a> <span class="divider"> / </span></li>
    <li class="active ml-1">Nạp tiền Bankking</li>
</ul>
<h1 class="text-danger bg-warning">@Html.Raw(TempData["Message"])</h1>
<h3 class="text-success">Để nạp tiền vào tài khoản của bạn trên hệ thống chúng tôi, vui lòng thực hiện theo hướng dẫn dưới đây:</h3>
<ul>
    <li><p class="text-pay"> - Bạn vui lòng chuyển khoản đến STK ngân hàng của chúng tôi với số tiền tương ứng số tiền cần nạp vào tài khoản của bạn trên hệ thống <a href="/">ShopAccJx2</a></p></li>
    @if (@User.Identity.Name != null)
    {
        <li><p class="text-pay"> - Nội dung chuyển khoản ghi rõ: naptien <mark>@User.Identity.Name</mark> </p></li>
    }
    else
    {
        <li><p class="text-pay"> - Nội dung chuyển khoản ghi rõ: naptien <mark>(username)</mark> </p></li>
    }
    <li class="text-danger">
        <h5> * Lưu ý: trường hợp chuyển sai nội dung, vui lòng gửi SMS về <strong>0358219991</strong> với nội dung giao dịch chuyển sai nội dung, mất 5% phí giao dịch và sẽ hoàn thành trong vòng 24h sau khi nhận được tin nhắn.</h5>
    </li>
</ul>

<h4 class="text-success">THÔNG TIN TÀI KHOẢN NGÂN HÀNG:</h4>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-center">Ngân hàng</th>
            <th class="text-center">Số tài khoản, Chủ tài khoản</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Quân đội (MBBank)</td>
            <td>
                <ul class="mb-0">
                    <li>Số Tài khoản: <p class="text-pay">0000.1912.09999</p></li>
                    <li> Chủ tài khoản: <strong>VU TRUNG HIEU</strong></li>
                    <li> Chi nhánh: Tây hồ tây</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Đầu tư và phát triển Việt Nam (BIDV)</td>
            <td>
                <ul class="mb-0">
                    <li>Số Tài khoản: <p class="text-pay">2161.0000.3039.96</p></li>
                    <li> Chủ tài khoản: <strong>VU TRUNG HIEU</strong></li>
                    <li> Chi nhánh: Đống Đa</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Kỹ thương Việt Nam(Techcombank)</td>
            <td>
                <ul class="mb-0">
                    <li>Số Tài khoản: <p class="text-pay">1903.4480.9760.13</p></li>
                    <li> Chủ tài khoản: <strong>VU TRUNG HIEU</strong></li>
                    <li> Chi nhánh: Tây Hồ tây</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Thương mại cổ phần Ngoại Thương(Vietcombank)</td>
            <td>
                <ul class="mb-0">
                    <li>Số Tài khoản: <p class="text-pay">0491.0001.56658</p></li>
                    <li> Chủ tài khoản: <strong>VU TRUNG HIEU</strong></li>
                    <li> Chi nhánh: Đống Đa</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-pay">Sau khi nhận được thông tin chuyển khoản, chúng tôi sẽ tiến hành cộng tiền vào tài khoản của bạn nhanh nhất từ 5-10 phút, chậm nhất là 24h.</p>