@model shopAcc.ViewModels.Catalog.Accounts.AccountUpdateRequest

@{
    ViewData["Title"] = "Cập nhật account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Account">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reincarnation" class="control-label"></label>
                        <input asp-for="Reincarnation" class="form-control" />
                        <span asp-validation-for="Reincarnation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Visional" class="control-label"></label>
                        <input asp-for="Visional" class="form-control" />
                        <span asp-validation-for="Visional" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserNameAcc" class="control-label"></label>
                        <input asp-for="UserNameAcc" class="form-control" />
                        <span asp-validation-for="UserNameAcc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordAcc" class="control-label"></label>
                        <input asp-for="PasswordAcc" class="form-control" />
                        <span asp-validation-for="PasswordAcc" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>