@{
    ViewBag.Title = "Trang Chủ";
}


<div class="row flex-wrap-reverse">
    <div class="col col-md-9">
        <div class="top__account">
            <div class="top__account-title">
                <h2 class="top__account-text">Account hot</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card__account">
                        <img class="card__account-img" src="~/assets/img/slider/slider-test1.jpg" alt="Ảnh Tài khoản">
                        <div class="card__account-title mt-2">
                            <h5 class="card-title">TLQ ts10 giá rẻ</h5>
                        </div>
                        <ul class="mb-0">
                            <li class="card__account-list">Hệ phái: thiếu lâm quyền</li>
                            <li class="card__account-list">Cấp độ: cs 10 cấp 99</li>
                            <li class="card__account-list text-danger">Giá: 20.000.000đ</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card__account-link">Xem Chi tiết</a>
                            <a href="#" class="card__account-link ml-4">Mua ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card__account">
                        <img class="card__account-img" src="~/assets/img/slider/slider-test1.jpg" alt="Ảnh Tài khoản">
                        <div class="card__account-title mt-2">
                            <h5 class="card-title">TLQ ts10 giá rẻ</h5>
                        </div>
                        <ul class="mb-0">
                            <li class="card__account-list">Hệ phái: thiếu lâm quyền</li>
                            <li class="card__account-list">Cấp độ: cs 10 cấp 99</li>
                            <li class="card__account-list text-danger">Giá: 20.000.000đ</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card__account-link">Xem Chi tiết</a>
                            <a href="#" class="card__account-link ml-4">Mua ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card__account">
                        <img class="card__account-img" src="~/assets/img/slider/slider-test1.jpg" alt="Ảnh Tài khoản">
                        <div class="card__account-title mt-2">
                            <h5 class="card-title">TLQ ts10 giá rẻ</h5>
                        </div>
                        <ul class="mb-0">
                            <li class="card__account-list">Hệ phái: thiếu lâm quyền</li>
                            <li class="card__account-list">Cấp độ: cs 10 cấp 99</li>
                            <li class="card__account-list text-danger">Giá: 20.000.000đ</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card__account-link">Xem Chi tiết</a>
                            <a href="#" class="card__account-link ml-4">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list__sect">
            <div class="list__sect-title">
                <h4 class="list__sect-text">Môn phái</h4>
            </div>
            <div class="list__sect-item mt-4">
                <ul>
                    <li>
                        <div class="d-flex">
                            <a href="#"><h5 class="ml-4">Thiếu Lâm</h5></a>
                            <div class="ml-auto mr-4"><i class="fas fa-caret-square-down list__sect-icon"></i></div>
                        </div>
                        <ul class="list__sect-list">
                            <li class="list__sect-list__item">
                                <a href="#">Thiếu Lâm Quyền</a>
                            </li>
                            <li class="list__sect-list__item">
                                <a href="#">Thiếu Lâm Trượng</a>
                            </li>
                            <li class="list__sect-list__item">
                                <a href="#">Thiếu Lâm Đao</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
